


<div class="container inline">
	<h1>Create User</h1>
<form action="/users/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>First Name</label>
	<input type="text" name="first_name" id="name">
	<label>Last Name</label>
	<input type="text" name="last_name" id="name">
	<label>Email</label>
	<input type="text" name="email" id="email">
	<label>Location</label>
	<input type="text" name="location" id="name">
	<label>State</label>
	<%= select_tag :state, options_for_select(us_states, "CA") %>
	<label>Password</label>
	<input type="password" name="password" id="password">
	<label>Password Confirmation</label>
	<input type="password" name="password_confirmation" id="password_confirmation">
	<input type="submit" value="Sign Up">
</form>
</div>


<div class="container inline">
<h1>Log in</h1>
	<form action="/login" method='post'>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<label>Email</label>
		<input type="text" name="email" id="email">
		<label>Password</label>
		<input type="password" name="password" id="password">
		<input type="submit" value="Log In">
	</form>
</div>